<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
    rel='stylesheet' type='text/css'>

  <link href="/css/resume.css" rel="stylesheet">
</head>

<body>
  <div class="container">
   <table>
	<tr>
	  <td> <img class="pull-left img-thumbnail" src="/images/me.jpg" style="width:150px"/></td>
	  <td>&nbsp;</td>
	  <td>
	    <h1>{{ site.author.name }}</h1>
	    <p><strong>{{ site.author.email }} &middot {{ site.author.phone }}<br/>
	    <a href="http://linkedin.com/in/thinkingpocha">Linkedin</a>, <a href="http://github.com/pocha">Github</a>, <a href="http://twitter.com/pocha">Twitter</a><br/>
	    Current Location: Bangalore, India</strong></p>
	  </td>
	</tr>
   </table>
    {{ content }}
  </div>
  {% include footer.html %}
</body>

</html>
